<style>
@import url('https://fonts.googleapis.com/css?family=Elsie+Swash+Caps');
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps');
</style>

/* this is a comment! */


/* CSS Syntax:

selector  {
	property: value;
	property: value;
} */

/* Type selector */

	p { /* select all <p> */
	font-size: 16px; /* 16px, ?pt, 100%, 1em */
	line-height: 1.5em;
	}

	figcaption { 
		/*font-weight: normal;
		font-size:  0.75em;
		line-height: 1.5em;
		font-family: Georgia, "New Times Roman", serif;*/
		font:  normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
		color: #AACC77;
		text-align: center;
	}

	/* Class selector (applied to as many elements as you like) */

	.milk-text {/* will select all milk text elements */
		font: bold 2.6em 'Elsie Swash Caps', cursive;
		color: white;
		text-shadow: 0 2px 3px #000;
	}

	#box {
		background: blue;
	}

	#box h1 {
		background: green;

	}

	#details a:link, #details a:visited {
		color: black;
		text-decoration: none;

	}

	#details a:hover {
		text-decoration: line-through;
		background: purple

	}